.product-card:hover {
  transform: scale(1.05);

  box-shadow: 0px 2px 15px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  border-radius: 8px;
}

.wish-list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate {
  .fas {
    color: #FB8200;
  }
}

.product {
  background: #efefef;
  margin: 10px 0;
}

.product-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}