.wish-list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate {
  .fas {
    color: #FB8200;
  }
}

.product {
  background: #efefef;
  margin: 10px 0;
}

.product-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}