.main-section {
    padding: 3rem 2.5rem;


    h2 {


        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;

        color: #1E1E1E;
    }

    p {


        height: 22px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #1E1E1E;
    }

    .product-catgeory {
        width: 266px;
        height: 563px;



        .check-list {
            box-sizing: border-box;
            padding: 1rem;
            min-height: 200px;
            height: auto;
            border-radius: 4px;
            background: #f0f0f0;
            margin-bottom: 1rem;

            .filter-wrapper {

                display: flex;
                justify-content: space-between;
                align-items: center;


            }


            input[type='checkbox'] {


                background: #56D9D9;
                border-radius: 2px;
            }

        }
    }

}




label {


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #1E1E1E;
}

.row,
.row-pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row-pagination {
    justify-content: center;
    margin: 2rem 0;
}
