<div>
    <div class="product-img">
        <img [src]="product.ProductImg" alt="">
    </div>
    <div class="product-info">
        <h4 class="product-title">
            {{product.ProductName}}
        </h4>

        <p class="product-price">
            <span>{{product.ProductPrice | currency}}</span>

            <span>
                <i class="lnr lnr-sync"></i>
                {{product.AvailablePieces}}
            </span>
        </p>


        <div class="wish-list-wrapper">
            <button>
                <i class="far fa-heart"></i>
                add to cart
            </button>
        </div>
    </div>
</div>