

.wish-list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate {
  .fas {
    color: #FB8200;
  }
}

.product-price{
  display: flex;
    justify-content: space-between;
    color: #3873d6;
    font-size: 1rem !important;
}